@media (max-width: 670px) {
	.top-wrapper {
		height: 20%;
		flex-flow: column;
		margin-top: 3em;
	}
	.top-wrapper .btn {
		font-size: 12pt;
		display: block;
		border-radius: 1em;
		padding: 0.5em 1em 0.5em 1em;
		cursor: pointer;
		box-shadow: 0 3px 5px #ddd;
		width: 12em;
		margin-bottom: 1em;
	}
	.prediction {
		margin-top: 2em;
		width: 100%;
		margin-bottom: 1em;
	}
	.model {
		width: 100%;
	}
	.prediction h1 {
		font-size: 20pt;
		margin-bottom: 1em;
	}

	.prediction-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 1em;
	}

	.inputs {
		justify-content: space-evenly;
		align-items: center;
	}
}
